.Gblock {
  width: 1400px;
  height: max-content;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content:space-around;
  padding: 0 10px;;
}

.InGblock {
  width: 600px;
  height: 600px;
}

.InGblock img {
  width: 600px;
  height: 600px;
  border-radius: 45px;
  border: solid black 8px;

  }

.faqs {
  padding: 30px;
  width: 600px;
  height: auto;
  border: solid black 8px;
  border-radius: 45px;
  text-align: center;
  font-size: 10px;
  color: rgba(221,241,195,1);
  cursor: pointer;
  vertical-align: middle;
  

}

.titlebox {
  width: max-content;
  margin: auto;
}

.faqs:after{
  animation-delay: 1500ms;
  border: solid black 8px;
  color: black;
  background-color: rgba(221,241,195,1);

}

.Aboutbody{
  font-family: Bungee;
}