<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
    <link href="../static/css/about.v1.css" rel="stylesheet" />
    <link href="../static/css/team.v6.css" rel="stylesheet" />
    <title>About</title>
</head>
<body class="Aboutbody">
    <nav class="imgBox">
        <a href="../"><img src="../static/images/home_test.png" title="Home"></a>
        <a href="../mint"><img src="../static/images/mint_test.png" title="Mint"></a>
        <a href="../team"><img src="../static/images/team_test.png" title="Team"/></a>
        <a href="../about"><img id="ABOUTT" src="../static/images/about_current.png" title="About"/></a>
        <a href="../game"><img src="../static/images/game_test.png" title="Game"/></a>
    </nav>
    <div class="Gblock">
        <div class=" InGblock">
            <img src="../static/images/DROGSSLIDE.gif"/>
        </div>
        <div class=" InGblock">
            <p class="faqs" id="HowMany" onclick="extend()">How Many Drogs?</p>
            <p class="faqs" id="MintPrice" onclick="extend1()">Mint price?</p>
            <p class="faqs" id="Royalties" onclick="extend2()">Royalties?</p>
            <p class="faqs" id="PolicyId" onclick="extend3()">Policy ID?</p>
        </div>
        <script src="../static/Scripts/aboutv3.js"></script>
</div>
</body>
<footer>
    <p>©2022 DROGSOFFCHAIN. ALL RIGHTS RESERVED.</p>
</footer>
</html>