<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="../static/css/game.v5.css">
    <link rel="stylesheet" href="../static/css/team.v6.css">
</head>
<body class="Gamebody">
    <nav class="imgBox">
        <a href="../"><img src="../static/images/home_test.png" title="Home"></a>
        <a href="../mint"><img src="../static/images/mint_test.png" title="Mint"></a>
        <a href="../team"><img src="../static/images/team_test.png" title="Team"/></a>
        <a href="../about"><img id="ABOUTT" src="../static/images/about_test.png" title="About"/></a>
        <a href="../game"><img src="../static/images/game_current.png" title="Game"/></a>
    </nav>
    <div class="GameFaqBox1">
        <div class="Faq1" id="Faq1" onclick="expandA()">
           <p id="FAQ1">
            What is the game?
           </p> 
        </div>
        <div class="Faq1" id="Faq2" onclick="expandB()">
            <p id="FAQ2">
            How to play?
            </p> 
         </div>
    </div>
    <div class="GameFaqBox2">
        <div class="Faq1" id="Faq3" onclick="expandC()">
           <p id="FAQ3">
            When game?
           </p> 
        </div>
        <div class="Faq1" id="Faq4" onclick="expandD()">
            <p id="FAQ4">
            How to win?
            </p> 
         </div>
    </div>
    <script src="../static/Scripts/game.v4.js"></script>
    <footer>
        <p>©2022 DROGSOFFCHAIN. ALL RIGHTS RESERVED.</p>
    </footer>
</body>
</html>