<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.v4.css">
    <link rel="stylesheet" href="../static/css/team.v6.css">
</head>
<body class="home_body">
    <nav class="imgBox">
        <a href="../"><img src="../static/images/home_current.png" title="Home"></a>
        <a href="../mint"><img src="../static/images/mint_test.png" title="Mint"></a>
        <a href="../team"><img src="../static/images/team_test.png" title="Team"/></a>
        <a href="../about"><img id="ABOUTT" src="../static/images/about_test.png" title="About"/></a>
        <a href="../game"><img src="../static/images/game_test.png" title="Game"/></a>
    </nav>
    <div class="iconsdiv">
        <a target="_blank" href="https://www.twitter.com/DrogsOffChain">
        <img src="../static/images/v87_129.png"/>
        </a>
        <a target="_blank" href="https://discord.gg/wbssjfAKf3">
        <img src="../static/images/v87_133.png">
        </a>
    </div>
</body>

</html>