<!DOCTYPE html>
<html>
<head>
    <link href="../static/css/mint.v7.css" rel="stylesheet" />
    <link href="../static/css/team.v6.css" rel="stylesheet" />
    <title>Mint</title>
    <link rel="icon" href="../static/images/logo.png">
</head>
<body class="Mintbody">
    <nav class="imgBox">
        <a href="../"><img src="../static/images/home_test.png" title="Home"></a>
        <a href="../mint"><img src="../static/images/mint_current.png" title="Mint"></a>
        <a href="../team"><img src="../static/images/team_test.png" title="Team"/></a>
        <a href="../about"><img id="ABOUTT" src="../static/images/about_test.png" title="About"/></a>
        <a href="../game"><img src="../static/images/game_test.png" title="Game"/></a>
    </nav>
        <div class="MintInfo" id="MintScreen">
            <p class="Closebutton" onclick="closemintscreen()">Close</p>
            <p class="Addressheader"> Address to send ADA to :</p>
            <p class="Addressholder" id="erql"> Address will be updated during mint </p>
            <p class="Amountheader"> Amount to send :</p>
            <p class="Amountholder" id="mintCost"> 53 ADA </p>
            <p class="Walletheader"> Accepted wallets :</p>
            <p class="Walletholder"> Nami, Etenrl, Flint, Gero, Typhon</p>
            <p class="Walletwarning"> DO NOT send funds from exchange</p>
        </div>
    <div class="MintBox">
        <div class="QuestionImage">
            <img id='QuestionMark' src="../static/images/QuestionMark.png"/>
            <img id='QuestionMark2' src="../static/images/QuestionMark.png"/>
            <img id='QuestionMark3' src="../static/images/QuestionMark.png"/>
        </div>
        <div class="order">
            <img id="Minus" src="../static/images/MinusIcon.png" onclick="Decrement()"/>
                <p id="Amount"> 1 </p>
            <img id='Plus' src="../static/images/PlusIcon.png" onclick="Increment()"/>  
        </div>
    </div>
    <div id="demo1"> 
        COUNTDOWN 
        <div id="demo"> </div>
    </div>
    <div class="MintButton" id="mntbtn" onmouseover="onhover()" onmouseout="outhover()" onclick="popmintscreen()">
        <p> Mint </p>
    </div>
    <script src="../static/Scripts/mintv6.js"></script>
    <script src="../static/Scripts/counterv4.js"></script>
    <script src="../static/Scripts/hover.js"></script>
</body>
<footer>
    <p>©2022 DROGSOFFCHAIN. ALL RIGHTS RESERVED.</p>
</footer>
</html>