<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link href="../static/css/team.v5.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
    
</head>
<body class="Teambody">
    <nav class="imgBox">
        <a href="../"><img src="../static/images/home_test.png" title="Home"></a>
        <a href="../mint"><img src="../static/images/mint_test.png" title="Mint"></a>
        <a href="../team"><img src="../static/images/team_current.png" title="Team"/></a>
        <a href="../about"><img id="ABOUTT" src="../static/images/about_test.png" title="About"/></a>
        <a href="../game"><img src="../static/images/game_test.png" title="Game"/></a>
    </nav>
    <div class="titles">
        <img src="../static/images/Founder_header.png"/>
    </div>
    <div class="Bigbox">
        <div class="Pfp">
            <div class="holder" >
                <img class="Vuizimg" src="../static/images/v95_163.png"/>
                <img src="../static/images/v95_205.png" class="description"/>
            </div>
        </div>
        <div class="Descriptionbox">
            <p>24, He/him <br>
                I joined the cardano ecosystem a year ago and it has become my main focus ever since.<br>
                this project is the result of about 8 months of teaching myself how to code.<br>
                it represents the beginning of my journey in this space
            </p>
        </div>
    </div>

    
</body>
<footer>
    <p>©2022 DROGSOFFCHAIN. ALL RIGHTS RESERVED.</p>
</footer>
</html> 