<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link href="../static/css/team.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet" />
    
</head>
<body>
    <nav class="imgBox">
        <a href="../"><img src="../static/images/home_test.png" title="Home"></a>
        <a href="../mint"><img src="../static/images/mint_test.png" title="Mint"/></a>
        <a href="../about"><img src="../static/images/about_test.png" title="About"/></a>
        <a href="../game"><img src="../static/images/game_test.png" title="Game"/></a>
    </nav>
    <div class="titles">
        <img src="../static/images/v95_155.png"/>
    </div>
    <div class="Pfp">
        <div class="holder" onclick="extend()">
        <img src="../static/images/v95_191.png"/>
        <p class="description" id="Doude" > Doude </p>
        </div>
        <div class="holder" onclick="extend2()">
        <img src="../static/images/v95_177.png"/>
        <p class="description" id="Lu2ay" > Lu2ay </p>
        </div>
        <div class="holder" onclick="extend1()">
        <img src="../static/images/v95_163.png"/>
        <p class="description" id="Vuiz"> Vuiz </p>
        </div>
    </div>
    <script src="../static/Scripts/team.js"></script>
    
</body>
<footer>
    <p>©2022 DROGSOFFCHAIN. ALL RIGHTS RESERVED.</p>
</footer>
</html> 